.main {
    width: 370px;
    height: 750px;
    border: 12px solid black;
    border-radius: 50px;
    margin: auto;
    background-color: #F5FAF4;
}

.layer1 {
    background-color: white;
    padding: 10px;
    border-radius: 50px 50px 0 0;
}

.bar {
    display:  flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0px;
    padding-left: 4px;
    padding-right: 4px;
}

.bar p {
    font-weight: 800;
}

.dark {
    width: 120px;
    height: 30px;
    border-radius: 20px;
    background-color: black;
}

.bar-icon {
    display: flex;
    gap: 5px;
}

.bar-icon span {
    font-size: 20px;
}

.bar-below {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bar-right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.person {
    background-color: #E9F2E8;
    padding: 8px;
    border-radius: 50%;
    text-align: center;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E7BC50;
}

.bar-right p {
    font-weight: 800;
}

.bar-left span {
    background-color: #E9F2E8;
    padding: 5px;
    border-radius: 50%;
    text-align: center;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #80867F;
}

.check {
    /* background-color: #5054E7;
    padding: 3px;
    color: #5054E7;
    border-radius: 50%; */
    color: #5054E7;
    border: 1px solid white;
}



