.main {
    width: 370px;
    height: 800px;
    border: 12px solid black;
    border-radius: 50px;
    margin: auto;
    background-color: #EEF2EE;
}

.layer1 {
    background-color: white;
    padding: 10px;
    border-radius: 50px 50px 0 0;
}

.bar {
    display:  flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0px;
    padding-left: 4px;
    padding-right: 4px;
}

.bar p {
    font-weight: 800;
}

.dark {
    width: 120px;
    height: 30px;
    border-radius: 20px;
    background-color: black;
}

.bar-icon {
    display: flex;
    gap: 5px;
}

.bar-icon span {
    font-size: 20px;
}

.bar-below {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bar-right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.person {
    background-color: #E9F2E8;
    padding: 8px;
    border-radius: 50%;
    text-align: center;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E7BC50;
}

.bar-right p {
    font-weight: 800;
}

.bar-left {
    position: relative;
}

.bar-left-main {
    background-color: #E9F2E8;
    padding: 5px;
    border-radius: 50%;
    text-align: center;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #80867F;
    position: relative;
}

.red-dot {
    position: absolute;
    top: 0;
    right: 0;
    color: #D11416;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #D11416;
}

.check {
    color: #5054E7;
    border: 1px solid white;
}

/* layer 2 */
.layer2 {
    padding: 10px;
}

.layer2main {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 10px;
}

.layer2main2 {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.card1 {
    width: 200px; 
    height: 75px;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    /* line-height: 1;  */
}

.card1 p {
    font-size: 12px;
    margin-bottom: 0;
}

.card1 h2 {
    font-size: 20px;
    margin-top: 3px;
}

.card1 span {
    font-size: 18px;
}

.c1 {
    background-color: #C8F2C8;
    padding: 5px;
    border-radius: 40%;
    text-align: center;
    font-size: 20px;
    color: #10E010;
    align-content: center;
}

.c2 {
    background-color: #F5C0D5;
    padding: 5px;
    border-radius: 40%;
    text-align: center;
    font-size: 20px;
    color: #F20E69;
    align-content: center;
}

.c3 {
    background-color: #CAC6F1;
    padding: 5px;
    border-radius: 40%;
    text-align: center;
    font-size: 20px;
    color: #1C0DF6;
    align-content: center;
}

.c4 {
    background-color: #F5C0C0;
    padding: 5px;
    border-radius: 40%;
    text-align: center;
    font-size: 20px;
    color: #D30707;
    align-content: center;
}

/* .quick {
    margin-top: 2px;
    padding-left: 10px;
} */
